<nav id="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/pages?gotoPage=index">Homepage</a></li>
        <li><a href="/pages?gotoPage=generic">Generic</a></li>
        <li><a href="/pages?gotoPage=elements">Elements</a></li>
        <li>
            <span class="opener">Submenu</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
        <li><a href="#">Etiam Dolore</a></li>
        <li><a href="#">Adipiscing</a></li>
        <li>
            <span class="opener">Another Submenu</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
        <li><a href="#">Maximus Erat</a></li>
        <li><a href="#">Sapien Mauris</a></li>
        <li><a href="#">Amet Lacinia</a></li>
        <div th:if="${#authorization.expr('isAuthenticated()')}">
            <h1 th:text="${#authentication.name}">Name</h1>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div th:unless="${#authorization.expr('isAuthenticated()')}">
            <a th:href="@{~/pages(gotoPage=login)}">Login</a>
        </div>
        <div>
            <p th:text="${#authentication.name}"></p>
            <p th:text="${#authentication.authorities}"></p>
            <p th:text="${#authentication.authenticated}"></p>
        </div>
    </ul>
</nav>